body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #eef1f5;
    margin: 0;
    padding: 20px;
}

/* Center container */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 10px;
}

/* Header */
h1 {
    text-align: center;
    color: white;
}

.text {
    padding: 10px;
    text-align: center;
    color: #2c3e50;
}

/* Card look */
.job-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    line-height: 1.6;
}

.job-card h3 {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.job-card p {
    font-size: 16px;
    margin: 6px 0;
}




/* Inputs */
input,
select {
    padding: 10px;
    width: 75%;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Buttons */
button {
    padding: 10px 14px;
    border: none;
    border-radius: 6px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
}

.b1 {
    font-size: 14px;
    padding: 10px 40px;
    border: none;
    border-radius: 6px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #43a047;
}

/* Danger button */
.delete-btn {
    background: #e74c3c;
}

.delete-btn:hover {
    background: #c0392b;
}

.pad {
    font-size: 18px;
    align-items: center;
    padding: 30px 80px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Header bar CSS */
.top {
    background-color: #6ab3f0;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}


.layout {
    display: flex;
    gap: 20px;
}


/* SIDEBAR */
.sidebar {
    text-align: center;
    width: 260px;
    background: #2c3e50;
    color: white;
    padding: 40px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.sidebar {
    position: sticky;
    top: 20px;
    padding-bottom: 100px;
    height: fit-content;
}


.sidebar img {
    width: 150px;
    height: auto;
}


/* MAIN */
.main {
    flex: 1;
    background: #ecf0f1;
    padding: 0px 10px;
}

/* MOBILE VIEW */
@media (max-width:768px) {

    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 20px;
    }

    .main {
        width: 100%;
        padding: 10px;
    }

}

textarea {
    width: 100%;
    min-height: 150px;
}