<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="layout">

        <div class="sidebar">
            <!-- <h1>Fresho</h1><br> -->
            <img src="{{ url_for('static', filename='FClogo.png') }}" width="60">
            <h1>Let's Start Build<br>Your Career</h1>
            <p class="tagline">As a Job seeker<br>
                <br>or<br>
                <br>As a Job Recruiter
            </p>
        </div>
        <!-- MAIN -->
        <div class="main">
            <div class="top">
                <h1 style="color: #2c3e50;">Create Account</h1>
            </div>
            <div class="pad">
                <form method="POST">

                    <input type="text" name="username" placeholder="Username" required>

                    <br><br>

                    <input type="password" name="password" placeholder="Password" required>

                    <br><br>

                    <select name="role" required>
                        <option value="">Register as</option>
                        <option value="recruiter">Recruiter</option>
                        <option value="user">Job Seeker</option>
                    </select>

                    <br><br>{% if error %}
                    <p style="color:red;">{{ error }}</p>
                    {% endif %}<br>


                    <button class="b1" type="submit">Register</button>

                </form>

                <br>

                <p>Already have an account?</p>

                <a href="/login">
                    <button class="b1">Login</button>
                </a>
            </div>
        </div>

    </div>
</body>

</html>